# Entorno virtual
venv/
__pycache__/
*.sqlite3
*.log

# Archivos de Python
*.pyc
*.pyo
*.pyd

# IDEs y editores
.vscode/
.idea/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/